<h1 align=center>Sign in as a doctor</h1>
<%= form_tag sessions_path do %>
	<table align=center>
	<tr>
		<td><%= label_tag :email %>
		<td><%= text_field_tag :email, params[:email] %>
	</tr>
	<tr>
		<td><%= label_tag :password %>
		<td><%= password_field_tag :password %>
	</tr>	
	</table>
	<p align=middle><%= submit_tag "Sign in" %></p>
	
	<p align=center> Not yet registered? <br />
	<%= link_to "Sign Up as a doctor !", new_doctor_path %></p>
<% end %>	
		
