<h1>Listing patients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Adress</th>
    <th>Phonenumber</th>
    <th>Sex</th>
    <th>Email</th>
    <th>Dob</th>
    <th></th>

  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.name %></td>
    <td><%= patient.adress %></td>
    <td><%= patient.phonenumber %></td>
    <td><%= patient.sex %></td>
    <td><%= patient.email %></td>
    <td><%= patient.dob %></td>
    <td><%= link_to 'Show', patient %>
    <br /><%= link_to 'Edit', edit_patient_path(patient) %>
    <br /><%= link_to 'Destroy', patient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

