
<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>
<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>
<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>
<p>
	<b> Age:</b>
	<%= @patient.age %>
</p>
<p>
  <b>Adress:</b>
  <%= @patient.adress %>
</p>
<p>
  <b>Phonenumber:</b>
  <%= @patient.phonenumber %>
</p>
<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>




<% if @patient.appointments.empty? %>
	<p> You have no appointment for the moment</p>
<% else %>
	<b> These are the appointments you have :</b>
		<% @patient.appointments.each do |a| %>
			<p> <i><%= a.time %></i>  with   Dr.<%= a.doctor.name %>
			</p>
	<br\><br\><br\>
	<% end %>
<% end %>	


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', root_path %>
