<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Adress:</b>
  <%= @patient.adress %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @patient.phonenumber %>
</p>

<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>

<p>
  <b>Appointments</b>
</p>
<% if @patient.appointments.empty? %>
	<p> <%= @patient.name %> has no appointment for the moment</p>
<% else %>
	<p> These are the appointments <%= @patient.name %> has :</p>
		<% @patient.appointments.each do |a| %>
			<p> <%= a.time %>  ==>   <%= a.doctor.name %>
			</p>
	<br\><br\><br\>
	<% end %>
<% end %>	


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
