<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>	


  <div class="field">
    <%= f.label :"Name *" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Sex *" %><br />
    <%= f.select :sex, ['M','F'] %>
  </div> 
  <div class="field">
    <%= f.label :"Date of Birth *" %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :speciality %><br />
    <%= f.select :specialism, ['Allergology','Anaesthetics','Dentistry','Dermatology','Dermatology','General Practice','Gynecology','Neurology','Ophthalmology','Orthopaedics','Paediatrics','Plastic surgery','Psychiatry','Radiotherapy','Rheumatology'] %>
  </div>  
  <div class="field">
    <%= f.label :"Adress *"%><br />
    <%= f.text_area :adress %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :"Phonenumber" %><br />
    <%= f.telephone_field :phonenumber %>
  </div>
  <div class="field">
    <%= f.label :"Email *"%><br />
    <%= f.email_field :email %>
  </div>
    <div class="field">
    <%= f.label :"Password *" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field"> 
   <%= f.label :"Password confirmation *"%><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
