<h1>Listing doctors</h1>
<div id="search">
	<%= render :partial => 'doctors/search' %>
	<br>
</div>	

<table>
  <tr>
    <th>Name</th>
    <th>Sex</th>
	<th>Age</th>
	<th>Specialism</th>
	<th>Adress</th>
    <th>Phonenumber</th>
    <th>Email</th>   

  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>
    <td><%= doctor.sex %></td>
	<td><%= doctor.age %></td>
	<td><%= doctor.specialism %></td>
	<td><%= doctor.adress %></td>
    <td><%= doctor.phonenumber %></td>        
    <td><%= doctor.email %></td>
    
  </tr>
<% end %>
</table>

<br />

