
<p>
  <b>Time:</b>
  <%= @appointment.time %>
</p>

<p>
  <b>Reason:</b>
  <%= @appointment.reason %>
</p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.name %>
</p>

<p>
  <b>Doctor:</b>
  <%= @appointment.doctor.name %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', mypatientappointments_path %>
