<!DOCTYPE html>
<html>
<head>
  <title>Myproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

 
</head>
<body>
<div id="banner">
<%= link_to( image_tag("medicineemblem.jpg", :size=> "100x50"), root_path) %>
    <%= link_to "My project", root_path %>
	<p align=right><i> Yoann Leneutre | </i><%= link_to "Github link", 'https://github.com/yoannleneutre/myproject' %> </p>
</div>


<div id="nav">
	<ul>
		<% if !signed_in? && !patientsigned_in? %>
			<li><%= link_to "Sign In as a doctor", signin_path %></li>
			<li><%= link_to "Sign In as a patient", patientsignin_path %></li>
			<li> <%= link_to "How to process", about_path %></li>
			<li> <%= link_to "List of doctors", doctors_path %></li>
		<li> <%= link_to "Appointment", new_appointment_path %></li>
		<% else	%>
			<% if !signed_in? %>
				<li><p align=middle>Signed in as Mr(s) <%= @current_patient.name %></p></li>
				<li><%= link_to "Sign out", patientsignout_path %></li>
				<li> <%= link_to "My profile", @current_patient %></li>
				<li> <%= link_to "List of doctors", doctors_path %></li>
				<li> <%= link_to "My Appointments", mypatientappointments_path %></li>
			<% else %>	
			<li><p align=middle>Signed in as Dr. <%= @current_doctor.name %></p></li>
			<li><%= link_to "Sign out", signout_path %></li>
			<li> <%= link_to "My profile", @current_doctor %></li>
			<li> <%= link_to "List of doctors", doctors_path %></li>
			<li> <%= link_to "Appointment", mydoctorappointments_path %></li>
			<% end %>
		<% end %>			
	</ul>
</div>
<br />
<% flash.each do |key, value| %>
	<div id="notice">
	<i><%= value %> </i>
	</div>
<% end %>
<%= yield %>

</body>	
</html>
